.page {
    padding: 24px;
    margin: 0 auto;
    width: 800px;
}

.form {
    margin-top: 30px;
    display: grid;
    gap: 16px;
}

.questions {
    display: grid;
    gap: 12px;
}

.error {
    color: #b00020;
}

.submitBtn {
    margin: 0 auto;
    font-size: 24px;
    color: #cbab2c;
    border: 1px solid #cbab2c;
    border-radius: 10px;
    background-color: transparent;
    padding: 10px;
    width: 150px;
    transition: color .3s ease, border .3s ease;
}

.submitBtn:hover {
    color: #cb812c;
    border: 1px solid #cb812c;
}