.page {
    min-height: 100vh;
    padding: 24px;
}

.header {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    margin: 0 auto;
    font-size: 50px;
    margin-bottom: 20px;
}

.nav {
    display: flex;
    gap: 30px;
}

.link {
    font-size: 24px;
    text-decoration: none;
    color: #cbab2c;
    border: 1px solid #cbab2c;
    border-radius: 10px;
    padding: 10px;
    transition: color .3s ease, border .3s ease;
}

.link:hover {
    color: #cb812c;
    border: 1px solid #cb812c;
}
